<!-- Footer -->
<footer class="flex-rw">

        <ul class="footer-list-top">
                <li>
                        <h6 class="footer-list-header">Lost Planet Games</h6>
                </li>
                <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Get to Know Us</a></li>
               
                <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Become a Game Lover</a></li>

               

                <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Check our Events</a></li>
        </ul>
        <ul class="footer-list-top">
                <li>
                        <h4 class="footer-list-header">The Game Selection</h4>
                </li>


                <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
                <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
                <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
                <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
                <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor"
                                target="_blank">HANDBAGS & JEWELRY</a></li>
        </ul>
        <ul class="footer-list-top">
                <li id='help'>
                        <h4 class="footer-list-header">Contact us</h4>
                </li>
                <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">(310)-908-2643</a></li>
                <li><a href='/faq.html' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Lostplanetgames@gmail.com </a></li>
                <li id='find-a-store'><a class="generic-anchor footer-list-anchor" itemprop="significantLink">hours:
                                11am - 12pm</a></li>




                <li id='user-registration'><a
                                href='https://www.google.com/maps/place/Lost+Planet/@33.8283999,-118.3355129,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b4c4082d06cb:0x5936cd8c0213d0d4!8m2!3d33.8283999!4d-118.3333189'
                                target="_blank" class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">2711 Plaza del Amo #511 Torrance, CA 90503</a></li>
        </ul>
        <section class="footer-social-section flex-rw">
                <span class="footer-social-overlap footer-social-connect">
                 <span class="footer-social-small"></span>
                </span>
                <span class="footer-social-overlap footer-social-icons-wrapper">
                        <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank"
                                title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
                        <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank"
                                title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
                        
                        <a href="https://discordapp.com/invite/kAjGK2?fbclid=IwAR0F46Q1SiiZzuuRzCBz7ya5DA59eo3m-IDTJrq5FdoVsGPcob1C2NSRnEY" class="generic-anchor" target="_blank"
                                title="discord" itemprop="significantLink"><i class="fa fa-user-circle" ></i></a>
                </span>
        </section>
       
</footer>