<div class="header">
    {{!-- <h1>Welcome to Lost Planet</h1> --}}
     
</div>

<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/about">About Us</a>
    <a href="/events/calendar.html">Events</a>
    <a href="/contact.html">Contact Us</a>
</div>