{{> nav }}

{{!-- main body --}}


<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2></h2>
      <h5>DUMMY TEXT</h5>
      <div class="fakeimg" style="height:200px;">Dummy Text</div>
      <p>Some text..</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me, Mike</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
  </div>
</div>



{{>footer}}